body
{
    margin: 0;
    background-color: #799dab;
}

.main
{
    display: grid;
    margin: 0;
    width: 100vw;
    grid-template-columns: 1fr 2fr 1fr;
}

.overOns
{
    grid-column: 2;
    background-color: #dcf1f9;
    border-radius: 10%;
    margin: 0 auto;
    position: absolute;
}
.overOns > h1
{
    text-align: center;
}
.extraInfo
{
    text-align: center;
    position: relative;
    padding-right: 50%;
}
.extraInfo > p
{
    background-color: #C7eaf8;
    border-radius: 5%;
}

.nieuwsBrief
{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}