* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 50px;
    background-color: transparent;
    transition: background-color 0.4s ease;
    z-index: 10;
}

header.scrolled {
    background-color: rgb(72, 84, 102);
}

.nav {
    background-color: #abc7d2;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    left: 300px;
}

.nav a.active {
    color: #ffffff;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.logo img {
    width: 180px;
    filter: brightness(0) invert(1);
}
