.gridContainerTop
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.Blue
{
    background-color: #dcf1f9;
}

.Dblue
{
    background-color: #779dab;
}

.Mgekozen
{
    padding: 20px 100px;
    margin: 20px;
    border-radius: 16px;
    h3 {
        font-size: 24px;
    }
}
.BlokA
{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   
} 

.BlokB
{
    display: flex; 
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
    padding: 60px 0 0 0;
    color: white;
}

.BlokC
{
    display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}

.bundelA
{
    padding: 20px 20px;
    margin: 0 0 10px 0;
    border-radius: 16px;
}

.bundleB
{
    padding: 20px 20px;
    margin: 0 0 10px 0;
    border-radius: 16px;
}

.prijs
{
    margin: 5px;
}
.betaal
{
    display: flex;
    flex-direction: row;
}

.maand
{
    margin: 0 0 0 10px;
    align-self: flex-end;
}
.ruimte
{
  padding: 10px;
  list-style-type: none; 
  display: flex; 
  
  p {
    height: fit-content;
    margin: auto 0 auto 20px;
  }

}


.button
{
    background-color: #dcf1f9;
    border: none;
    border-radius: 8px;
    padding: 9px 30px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
}
