@font-face {
    font-family: calibreRegular;
    src: url('../Circle\ Solutions/fonts/calibre/calibreRegular.otf');
}

@font-face {
    font-family: calibreMedium;
    src: url('../Circle\ Solutions/fonts/calibre/calibreMedium.otf');
}

@font-face {
    font-family: calibreBold;
    src: url('../Circle\ Solutions/fonts/calibre/calibreBold.otf');
}

body {
    margin: 0;
}

p, li, a, label {
    font-family: calibreRegular;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: calibreBold;
    font-weight: bold;
    font-size: 40px;
}